body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #eeeeee;
  overflow-x: auto;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.25;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 4px;
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto;
}

blockquote {
     padding: .1px 20px;
     margin: 0 0 20px;
     font-size: 14px;
     border-left: 5px solid #eee;
} 

table {
   margin: auto; 
   border-top: 1px solid #666; 
   border-bottom: 1px solid #666; 
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee; }
