<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    <meta charset="utf-8" />

    {{ partial "meta.html" . }}

    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
{{ $title := .Title }}
{{ with .OutputFormats.Get "RSS" }}
    <link
      href="{{ .RelPermalink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ $title }}"
    />
    <br></br> 
    <br></br>
{{ end }}
    {{ partial "head_includes.html" . }}
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png"> 
    <link rel="manifest" href="/img/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
 
{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
